<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	 crossorigin="anonymous">
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/css?family=Archivo+Black|Merriweather+Sans|Orbitron|Roboto" rel="stylesheet">

	<title>Mongo-Cheerio-Scraper</title>
</head>

<body>
	<nav class="navbar navbar-expand-lg fixed-top">
		<a class="navbar-brand" href="#">HuffPost Tech Section Scraper</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
		 aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="/">Home
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/saved">Saved Articles</a>
				</li>
				<li class="nav-item">
					<a class="btn btn-info" id="scrapeBtn" role="button">Scrape new articles</a>
				</li>
			</ul>
		</div>
	</nav>

	<div class="jumbotron jumbotron-fluid">
		<div class="container jumbo-container">
			<h1 class="display-4">Scraping Tech Articles</h1>
		</div>
	</div>


	<div class="container">
		{{{ body }}}
	</div>


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	 crossorigin="anonymous"></script>
	<script src="/assets/js/app.js"></script>
</body>

</html>